/* RESET DE CONFIGURAÇÕES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 183, 255);
    background-image: url("van\ gogh.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
}
p {
    text-align: justify;
    font-size: 15px;
    font-family: 'Arial';
    margin: 20px;
    color: rgb(253, 236, 239);
    
}