   /* RESET DAS CONFIGURAÇÕES DO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  

.index {
   background-color: ;
   background-image: image();

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;

}

.segunda_pagina {
    background-image: url("assets/kaneki-ken.jpg");
}



h2 {
    text-align: center;
    font-size: 60px;
}

.terceira_pagina {    
    background-color: rgba(255, 0, 0, 0.699);
    background-image: url("assets/1023193.jpg");
    

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

p {
    text-align: justify;
    font-size: 15px;
    margin: 30px 20px;
    font-family: "";
    color: crimson;
}
a {
    display: block;
    text-align: center;
    text-decoration: none;
}




img {
    display: block;
    max-width: 300px;
    margin: 10px auto;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

ol {
    padding: 30px auto;
    text-align: center;
    list-style-position: inside;
}

li {
font-size: 15px;
font-weight: bold;
color: crimson;}